@{
    ViewData["Title"] = "Naslovnica";
}

<div class="text-center">
    <h1 class="display-4" style="color: #FF426A"><strong>Dobro došli na aplikaciju za obuću</strong></h1><br />
    <img src="~/images/830639.jpg" width="700" height="500"/>
</div>
